.bmiform{
   
width: 50%;

}
.boxshadow
{
    box-shadow:   10px 10px 10px rgb(103, 103, 103);
    width: 50%;
  position: relative;
  left: 30%;
   

}

.bmiscore{
  width: 50%;
  margin-top: 15px;
  box-shadow:   10px 10px 10px 10px rgb(103, 103, 103);
}

